/* var */
:root {
  --primary-color:#ffc636;
  --secondary-color:#0a0b5b;
}

/* reset */

html{
  font-size: 62.5%;
}

* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

/* base style */

a{
  text-decoration: none;
}
ul{
  list-style: none;
}

body {
  background:var(--secondary-color);
  font-family: 'Rubik', sans-serif;
  line-height: 1.4;
  

  
}
.btn {
  display: inline-block;
  background:none;
  border:2px solid var(--primary-color);
  color: var(--primary-color);
  padding:6px 12px;
  border-radius: 20px;
  text-transform:uppercase;
  box-shadow: 1px 2px 3px rgba(0, 0,0,0.6);
}
.btn:hover{
  color:#222;
  background:var(--primary-color);
}

input,textarea {
  background:rgba(255,255,255,0.05);
  padding:10px 16px;
  border-radius: 20px;
  border:2px solid #9893d8;
  color:#f2f2f2;
}

h1,h2,h3,h4{
  color:#dddbff;
  font-weight:normal;

}

p,a,li{
  color:#9893d8;
}

h1,h3{
  font-size:4rem;
}
h2 {
  font-size:5rem;
}

h4 {
  font-size: 2rem;
}
.lead {
  font-size:2rem;
  }


a{
  font-size:2rem;
  
}

.projects {
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
}

.projects a {
  background:#ddd;
  text-align:center;
  padding:3rem;
  margin:3rem;
}

.image{
  width:40%;
}





/* mobile styles */


/* small tablet */

@media screen and (min-width:620px){
  
}
/* large tablets and laptop */

@media screen and (min-width:960px){

}

/* desktop */

@media screen and (min-width:1200px){

}






